@import "theme.css";

.Root {
  color: var(--text);
  text-align: center;
}

.Root {
  background: var(--background);
  width: 100vw;
  height: 100vh;
}


.Menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  border-bottom: 1px solid var(--static);
  padding: 0.5rem;
}

.MenuItem {
  background: var(--secondary);
  margin-left: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid var(--static);
}

.MenuItem p{
  font-weight: bold;
  cursor: pointer;
  padding: 0.4rem;
  margin: 0;
}
.gridContainer {
  display: grid;
  grid-template-areas: ". content .";
  grid-template-columns: 1fr 5fr 1fr;
}

.content {
  grid-area: content;
  min-height: 45rem;
}